pytest>=3.0.2
pytest-asyncio
pytest-cov
pytest-xdist
git+https://github.com/The-Compiler/pytest-xvfb.git@f223fbbd2d5562bcae114c5a457ac855806e4c64#egg=pytest-xvfb
coveralls
-r vidhubcontrol/kivyui/requirements.txt
